@charset "utf-8";

#dreambox{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
}

.section{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    text-align: center;
}

.logo{
    width: 42%;
    display: inline-block;
    margin: 7% 0 6% 0;
    position: relative;
    z-index: 9;
}

.formContext{
    width: 100%;
    display: inline-block;
    position: relative;
}

.formContext .con{
    width: 70%;
    height: 85%;
    position: absolute;
    left: 15%;
    top: 15%;
    z-index: 2;
}

.formli{
    width: 100%;
    height: 68%;
    display: inline-block;
}

.formli li{
    width: 100%;
    height: 16.6%;
    float: left;
    display: inline-block;
    position: relative;
}

.formli li.select:after{
    content: "";
    width:0;   
    height:0;   
    border-left:5px solid transparent;   
    border-right:5px solid transparent;   
    border-top:5px solid #8b5f38;
    position: absolute;
    right: 6%;
    top: 50%;
    margin: -2.5px 0 0 0;
}

.formli li:nth-child(5){
    height: 17%;
}

.formli li label{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.formli li select,.formli li input{
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
    color: #8b5f38;
    font-size: 1.4rem;
}

.formli li input{
    min-height: 46px;
    line-height: 46px;
}

.formli li span{
    width: 100%;
    display: inline-block;
    color: #8b5f38;
    font-size: 1.4rem;
}

.formli li span.placeholder{
    color: #999;
}

.formli li.select{
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
}

.formli li select{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;    
}

.clause{
    width: 100%;
    height: 16%;
    display: inline-block;
    position: relative;
}

.tncLink{
    width: 25%;
    height: 27%;
    position: absolute;
    left: 57%;
    top: 52%;
    z-index: 2;
}

.clause label{
    width: 100%;
    height: 50%;
    text-align: left;
    float: left;
    display: inline-block;
    position: relative;
}

.clause label input{
    margin: 6% 0 0 0;
    display: inline-block;
    opacity: 0;
}


.checkboxStyle{
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 49%;
    background: url("/vstyle/img/checkbox.png") left top no-repeat;
    background-size: 100% auto;
}

.checkboxStyle.notselect{
    background: url("/vstyle/img/checkbox.png") left 100% no-repeat;
    background-size: 100% auto;
}


.clause label:nth-child(2) .checkboxStyle{
    top: 16%;
}

.clause label:nth-child(2) input{
    margin: 2% 0 0 0;
}

.submitBtn{
    width: 56%; 
    height: 9%;
    display: inline-block;
    margin: 9% 0 0 0;
}


/* tnc */
.pupBox{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    background: rgba(0,0,0,.85);
    text-align: center;
    display: none;
}

.pupBox .con{
    width: 80%;
    height: 80%;
    display: inline-block;
    margin: 10% 0 0 0;
    color: #fff;
}

#pupTnc h2{
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    padding: 0 0 10px 0;
}

.tncCon{
    width: 100%;
    height: 90%;
    overflow: auto;
    display: inline-block;
}

#pupTnc h3{
    width: 100%;
    text-align: left;
    font-size: 1.4rem;
    padding: 6px 0;
}

#pupTnc p{
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    padding: 2px 0;
    line-height: 1.8rem;
}

#pupTnc p a{
    color: #fff;
    text-decoration: underline;
}

.close{
    width: 12%;
    margin: 4% 0 0 0;
    display: inline-block;
}

.success{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 8;
    display: none;
}

.activeTime{
    width: 95%;
    margin: 0 0 0 5%;
    padding: 6px 0;
    text-align: left;
    font-size: 1.2rem;
    padding: 2px 0 6px 0;
    line-height: 1.8rem;
    float: left;
    display: inline-block;
}

.activeTime li{
    list-style: disc;
    list-style-position: outside;
    margin: 0 0 0 6%;
}









.alertNode{
    width: 100%;
    padding: 16px 0;
    background: rgba(139,95,56,0.9);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    font-size: 14px;
    color: #fff;
    text-align: center;
    /*letter-spacing: 0.1em;*/
}





